@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'DM Sans', sans-serif;
    width: 100vw;
}

.sign-up-screen{
    width: 100%;
    display: flex;
    flex-direction: row;

}

.lhs{
    width: 60%;
    background-image: url(./asset/KIDS-1024x683\ 2\ \(1\).png);
}

.rhs{
    margin-top: 50px;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rhs img{
    width: 130px;
    height: 150px;
}

.rhs h2{
    font-size: 24px;
    font-weight: 700;
    color: #FB8500;
    margin-top: 20px;
}


form {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
}
  
input {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    margin-bottom: 1.2rem;
    border-radius: 6px;
    border: 1px solid #aaaaaa;
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
}

form p{
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin-bottom: 6px;
}

input.error{
    border: 1px solid red;
}


button{
    display: block;
    border-radius: 6px;
    width: 100%;
    padding: 0.6rem 0;
    background-color: #FB8500;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.bottom-text span{
    color: #FB8500;
    font-weight: 600;
    cursor: pointer;
}

/* create campaign */

.bottom-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.campaign-lhs{
    width: 30%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #333333;
}

.campaign-lhs h2{
    font-size: 32px;
    color: #FB8500;
    font-weight: 600;
    margin-top: 20%;
    padding: 5%;
}

.campaign-lhs img{
    width: auto;
    margin-top: 50px;
}

.campaign-rhs{
    width: 60%;
    padding: 20px 40px 20px 40px;
}

.goal-fields{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.goal-fields input{
    width: 95%;
}

.bottom-button{
    width: 100%;
    display: flex;
   justify-content: flex-end;
    
}

.bottom-button button{
    width: auto;
    text-wrap: nowrap;
    padding: 10px;
}